body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 50px;
}
.container {
    max-width: 300px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
h2{
    font-size: 30px;
}
input{
    margin: 10px 0;
    padding: 8px;
    width: 90%;
    font-size: 18px;
}
button{
    display: block;
    margin: 10px 60px;
    padding: 8px;
    width: 60%;
    font-size: 18px;
    color: white;
    border: none;
}
#cal{
    background-color: blue;
    
}
#review{
    background-color: red;
}